.julius {
  font-family: "Julius Sans One", sans-serif;
  font-size: medium;
  color: #052C89;
}

.header {
  color: #052C89;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  text-align: center;
}

hr {
  width: 50%;
  margin-top: -25px;
  height: 2px;
  background-color: #052C89;
}

p {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: small;
  text-align: center;
}

.name {
  font-family: "Julius Sans One", sans-serif;
  color: #052C89;
  text-align: center;
}

img {
  width: 350px;
  display: block;
  margin: auto;
}

.menu {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 250;
  font-size: small;
  gap: 1%;

  overflow: hidden;
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  padding: 1.2%;
  background-color: #052C89;
  border-radius: 15px;

  text-decoration: none;
  color: #ffffff;
}

.button:hover {
  background-color: #707070;
  transition: 0.25s;
}

.skill {
  font-family: "Limelight", sans-serif;
}

.box {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: small;
  padding: 1.2%;
  border: #052C89;
  border-style: solid;
  border-radius: 15px;
  width: 30%;
  margin: auto;
}

.box p {
  text-align: start;
}