.julius {
  font-family: "Julius Sans One", sans-serif;
  font-size: medium;
  color: #052C89;
}

.header {
  color: #052C89;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  text-align: center;
}

hr {
  width: 50%;
  margin-top: -25px;
  height: 2px;
  background-color: #052C89;
}

p {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: normal;
  text-align: center;
}

.name {
  font-family: "Noto Sans Thai", sans-serif;
  color: #052C89;
  text-align: center;
}

img {
  width: 350px;
  display: block;
  margin: auto;
}

.menu {
  font-family: "Noto Sans Thai", sans-serif;
  color: #052C89;
  font-weight: 500;
  font-size: small;
  gap: 1%;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: #052C89;
}

.menu a:hover {
  text-decoration: underline;
  color: #868690;
}

.tab {
  font-family: "Limelight", sans-serif;
}

.box {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: small;
  padding: 1.2%;
  border: #052C89;
  border-style: solid;
  border-radius: 15px;
  width: 40%;
  margin: auto;
}

.box p {
  text-align: start;
}

.mail {
  text-decoration: none;
  color: #000000;
}

.mail:hover {
  text-decoration: underline;
  color: #052C89;
}